<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>INREADO</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <link rel="stylesheet" href="client/css/index.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-swipe/dist/angular-swipe.min.js"></script>

    <script src="client/js/i18nLocales.js"></script>
    <script src="client/js/app.js"></script>
    <script src="client/js/particles.js"></script>
</head>
<body ng-app="app" ng-controller="app">

<header class="header">
    <div class="header__content">
        <a class="header__menu-icon"></a>
        <a class="header__logo"><span>IN</span><span>READO</span></a>

        <div class="header__menu">
            <ul class="header__menu__list">

                <li class="header__menu__list__item" ng-repeat="item in headerMenuItems">
                    <a class="header__menu__list__item__link" ui-sref-active="active" ui-sref="{{item.state}}">{{item.title}}</a>
                </li>

                <li class="header__menu__list__item">
                    <a class="header__menu__list__item__link" ng-click="showGetLessonPopup()">Бесплатное занятие</a>
                </li>

            </ul>
        </div>
    </div>
</header>

<section class="top" id="possibilities">
    <h1 class="top__header" translate="top.header"></h1>

    <h2 class="top__sub-header" translate="top.subHeader"></h2>
    <button class="btn top__get-lesson-btn btn_left-arrow" ng-click="showGetLessonPopup()" translate="getLessonBtn"></button>
    <ul class="top__features-list" ng-swipe-right="prevFeature()" ng-swipe-left="nextFeature()">
        <li class="top__features-list__item" ng-repeat="f in features" ng-class="{'m-active': f.active}" center-tab="{{f.active}}">
            <a class="top__features-list__item__link {{::f.icon}}" ng-click="selectFeature(f)">
                {{f.titleTop}}
                <span class="top__features-list__item__link__subname">{{f.titleBottom}}</span>
            </a>
            <span class="top__features-list__item__arrow"></span>
        </li>
    </ul>
</section>

<section class="features" id="features">
    <div class="features__content" ng-repeat="f in features" ng-show="f.active">
        <ul class="features__list">
            <li class="features__list__item" ng-repeat="sf in f.subFeatures" ng-class="{'active': sf.active}">
                <a class="features__list__item__link {{::sf.icon}}" ng-click="selectSubFeature(f, sf)">{{sf.title}}</a>
                <i class="features__list__item__icon-arrow"></i>
            </li>
        </ul>
        <div class="features__sub-feature" ng-repeat="sf in f.subFeatures" ng-show="sf.active">
            <div class="sub-feature">
                <div class="sub-feature__text">{{sf.text}}</div>
            </div>
        </div>
    </div>
</section>

<section class="advantages" id="advantages">
    <div class="advantages__content">
        <div class="advantages__header-container">
            <i class="advantages__icon"></i>
            <header class="advantages__header" translate="advantages.header"></header>
        </div>
        <h2 class="advantages__sub-header" translate="advantages.subHeader"></h2>
        <ul class="advantages__list">

            <li class="advantages__list__item"
                ng-repeat="item in advantages">
                <i class="advantages__list__item__icon {{item.icon}}"></i>

                <div class="advantages__list__item__content">

                    <h3 class="advantages__list__item__title">{{item.title}}</h3>

                    <div class="advantages__list__item__text">{{item.text}}</div>

                    <div class="advantages__list__item__bottom">

                    </div>
                </div>

                <div class="advantages__list__item__delimeter" ng-if="::!$last"></div>

            </li>

        </ul>
    </div>
</section>

<section class="pricing" id="pricing">
    <div class="pricing__content">
        <div class="pricing__header-container">
            <i class="pricing__icon"></i>

            <h1 class="pricing__header" translate="pricing.header"></h1>
        </div>

        <h2 class="pricing__sub-header" translate="pricing.subHeader"></h2>

        <ul class="pricing__list">

            <li class="pricing__list__item" ng-repeat="p in pricing">
                <i class="pricing__list__item__icon {{p.icon}}"></i>

                <h3 class="pricing__list__item__title">{{p.title}}</h3>

                <div class="pricing__list__item__text">{{p.text}}</div>
            </li>

        </ul>
        <div class="pricing__big-price">
            <div class="pricing__big-price__left">
                <span class="pricing__big-price__amount" translate="pricing.bigPrice.amount"></span>
            </div>
            <div class="pricing__big-price__right">
                <span class="pricing__big-price__currency" translate="pricing.bigPrice.currency"></span>
                <span class="pricing__big-price__period" translate="pricing.bigPrice.period"></span>
            </div>
        </div>

        <button class="btn pricing__btn" ng-click="showGetLessonPopup()" translate="getLessonBtn"></button>
    </div>
</section>

<section class="feedback">
    <h2 class="feedback__sub-header" translate="testimonials.subHeader"></h2>

    <div class="feedback__content">
        <carousel interval="12000" disable-ng-animate="true" class="dap-carousel">
            <slide ng-repeat="t in testimonials" active="slide.active" class="dap-carousel__slide feedback__list__item">
                <h1 class="feedback__list__item__title">{{t.userName}}</h1>

                <div class="feedback__list__item__text">{{t.text}}</div>
            </slide>
        </carousel>
    </div>
</section>

<footer class="footer">
    <div class="footer__info">
        <div class="footer__info__contacts">
            Contact us via e-mail <a class="footer__info__email" href="mailto:team@inreado.com" target="_blank">team@inreado.com</a>
        </div>
        <div class="footer__info__legals">© 2015 inreado.com. All rights reserved.</div>
    </div>
</footer>

<!--popups-->
<script id="get-lesson" type="text/html">
    <div class="popup popup_wide">
        <i class="popup__close-icon" ng-click="$dismiss()"><span class="popup__close-icon__label_mobile">˟</span></i>
        <i class="popup__close-icon" ng-click="$dismiss()"><span class="popup__close-icon__label">Закрыть</span></i>

        <div class="popup__content" stop-event="touchend">
            <h1 class="popup__title">Заявка на бесплатное занятие</h1>

            <div class="get-lesson get-lesson_mobile">
                <form ng-submit="onSubmit()">
                    <div class="get-lesson__form-control">
                        <input class="get-lesson__input get-lesson__input_name" required type="text"
                               name="name"
                               placeholder="Имя и фамилия"
                               ng-model="data.name"
                               focus-it=""/>
                    </div>
                    <div class="get-lesson__form-control">
                        <input class="get-lesson__input get-lesson__input_phone" type="phone" name="phone"
                               placeholder="Телефон"
                               ng-model="data.phone"/>
                    </div>
                    <div class="get-lesson__form-control">
                        <input class="get-lesson__input get-lesson__input_email" required type="email" name="email"
                               placeholder="E-mail"
                               ng-model="data.email"/>
                    </div>
                    <div class="get-lesson__form-control">
                        <input id="hasAndroid" class="get-lesson__checkbox" type="checkbox"
                               name="hasAndroid"
                               ng-model="data.hasAndroid"/>
                        <label for="hasAndroid" class="get-lesson__checkbox-label">
                            Уменя есть android девайс
                        </label>
                    </div>
                    <button class="btn btn_popup get-lesson-btn-mobile"
                            id="form-submit">Записаться на бесплатный урок &rarr;</button>

                </form>
            </div>

            <div class="get-lesson get-lesson_desktop">
                <div class="get-lesson__form">
                    <h1 class="get-lesson__form__title">Заявка на бесплатное занятие</h1>

                    <form ng-submit="onSubmit()">
                        <div class="get-lesson__form__form-control">
                            <input class="get-lesson__form__input get-lesson__form__input_name" required type="text"
                                   name="name"
                                   placeholder="Имя и фамилия"
                                   ng-model="data.name"
                                   autofocus/>
                        </div>
                        <div class="get-lesson__form__form-control">
                            <input class="get-lesson__form__input get-lesson__form__input_phone" type="phone"
                                   name="phone"
                                   placeholder="Телефон"
                                   ng-model="data.phone"/>
                        </div>
                        <div class="get-lesson__form__form-control">
                            <input class="get-lesson__form__input get-lesson__form__input_email" required type="email"
                                   name="email"
                                   placeholder="E-mail"
                                   ng-model="data.email"/>
                        </div>
                        <div class="get-lesson__form-control">
                            <input id="hasAndroid" class="get-lesson__checkbox" type="checkbox"
                                   name="hasAndroid"
                                   ng-model="data.hasAndroid"/>
                            <label for="hasAndroid" class="get-lesson__checkbox-label">
                                Уменя есть android девайс
                            </label>
                        </div>

                        <button class="btn get-lesson__form__submit btn_left-arrow btn_inverse">Отправить заявку
                        </button>

                        <div class="get-lesson__form__help-text">Возникли вопросы? Желаете записаться напрямую по
                            телефону?
                            Звоните прямо сейчас!
                        </div>
                        <div class="get-lesson__form__phone">+380 67 454 45 45</div>
                    </form>
                </div>
                <div class="get-lesson__description">
                    <h1 class="get-lesson__description__title">Описание бесплатного урока</h1>

                    <ul class="get-lesson__description__list">

                        <li class="get-lesson__description__list__item">
                            <i class="get-lesson__description__list__item__icon icon-topics"></i>

                            <div class="get-lesson__description__list__item__key">Длительность 1 урока</div>
                            <div class="get-lesson__description__list__item__value">1.5 часа</div>
                        </li>

                        <li class="get-lesson__description__list__item">
                            <i class="get-lesson__description__list__item__icon icon-context"></i>

                            <div class="get-lesson__description__list__item__key">Стоимость 1 урока</div>
                            <div class="get-lesson__description__list__item__value">Бесплатно</div>
                        </li>

                    </ul>
                    <h2 class="get-lesson__description__sub-title">Описание бесплатного урока</h2>

                    <div class="get-lesson__description__text">На любой ступени обучения максимум внимания на уроке
                        уделяется устной речи. Вы начинаете говорить на английском уже с первого урока, даже если пришли
                        с
                        нулевым уровнем. Новая лексика и грамматические конструкции изучаются и запоминаются в процессе
                        общения.
                    </div>

                    <ul class="get-lesson__description__list-2">

                        <li class="get-lesson__description__list-2__item">
                            <div class="get-lesson__description__list-2__item__value">Преимущества знания</div>
                        </li>

                        <li class="get-lesson__description__list-2__item">
                            <div class="get-lesson__description__list-2__item__value">Открытие навыков</div>
                        </li>

                        <li class="get-lesson__description__list-2__item">
                            <div class="get-lesson__description__list-2__item__value">Преимущества знания</div>
                        </li>

                    </ul>

                    <h2 class="get-lesson__description__text">На любой ступени обучения максимум</h2>
                </div>

            </div>
        </div>
    </div>
</script>
<script id="success" type="text/html">

    <div class="popup popup_success" data-popup="success">
        <i class="popup__close-icon" ng-click="$dismiss()"><span class="popup__close-icon__label_mobile">˟</span></i>
        <i class="popup__close-icon" ng-click="$dismiss()"><span class="popup__close-icon__label">Закрыть</span></i>

        <div class="popup__content">
            <div class="get-lesson__success">
                <div class="get-lesson__success__icon"></div>
                <div class="get-lesson__success__title">Спасибо!</div>
                <div class="get-lesson__success__text">Ваша заявка успешно отправлена!</div>
            </div>
        </div>
    </div>
</script>
<script id="subFeatures" type="text/html">
    <div class="popup popup_with-carousel">
        <i class="popup__close-icon" ng-click="$dismiss()">˟</i>

        <carousel interval="3000" disable-ng-animate="true" class="dap-carousel">
            <slide ng-repeat="sf in feature.subFeatures" active="sf.active"
                   class="dap-carousel__slide">
                <div class="popup__content">

                    <div class="sub-feature">
                        <h1 class="sub-feature__title">{{::sf.title}}</h1>

                        <div class="sub-feature__icon {{::sf.icon}}"></div>

                        <h2 class="sub-feature__sub-title">{{::sf.subTitle}}</h2>

                        <h3 class="sub-feature__sub-sub-title">{{::sf.subSubTitle}}</h3>

                        <div class="sub-feature__text">{{::sf.text}}</div>
                    </div>
                </div>
            </slide>
        </carousel>

        <button class="btn btn_popup" ng-click="showGetLessonPopup()">Записаться на бесплатный урок &rarr;</button>
    </div>
</script>

</body>
</html>
