.get-lesson {
  display : none;

  &__form-control {
    margin-bottom : 34px;
    text-align    : left;
  }

  &__input {
    border        : none;
    border-bottom : 1px solid #2b3c48;
    font-size     : 26px;
    width         : 100%;
    color         : #2b3c48;
    padding       : 16px 0;
    outline       : none;

    &::-moz-placeholder {
      text-overflow  : ellipsis;
      text-transform : uppercase;
      color          : #aaa;
    }
    &:-moz-placeholder {
      text-overflow  : ellipsis;
      text-transform : uppercase;
      color          : #aaa;
    }
    &:-ms-input-placeholder {
      text-overflow  : ellipsis;
      text-transform : uppercase;
      color          : #aaa;
    }

    &&_name {
    }

    &&_phone {
    }

    &&_email {
    }
  }

  &__success {
    background-color : #f4f6f8;
    max-width        : 470px;
    text-align       : center;
    padding          : 70px;

    &__icon {
      height        : 47px;
      background    : transparent url("../resources/img/icon-success.png") no-repeat center center;
      margin-bottom : 15px;
    }

    &__title {
      color          : #2b3c48;
      font-size      : 30px;
      font-weight    : 400;
      letter-spacing : -1.2px;
      line-height    : 24px;
      margin-bottom  : 24px;
    }

    &__text {
      color          : #707a88;
      font-size      : 20px;
      font-weight    : 400;
      letter-spacing : -0.8px;
      line-height    : 24px;
    }

  }

  &__checkbox-label {
    font-size : 26px;
    color     : #2b3c48
  }

  &__checkbox {
    width  : 20px;
    height : 20px;
  }
}
