@import './popup';
@import './get-lesson';
@import './override';
@import './icons';

* {
  box-sizing : border-box;
}

body {
  margin      : 0;
  padding     : 0;
  font-family : Lato, Helvetica Neue, Helvetica, Arial, serif;
}

:focus::-webkit-input-placeholder {
  color : transparent
}

:focus::-moz-placeholder {
  color : transparent
}

:focus:-moz-placeholder {
  color : transparent
}

:focus:-ms-input-placeholder {
  color : transparent
}

h1, h2, h3, h4 {
  margin : 0;
}

@media only screen and (max-width : 1024px), only screen and (max-device-width : 773px) {
  @import "./mobile";
}

@media only screen and (min-width : 1024px){
  @import "./desktop";
}