@import "../../bower_components/bootstrap/less/variables";
@import "../../bower_components/bootstrap/less/mixins";
@import '../../bower_components/bootstrap/less/mixins/vendor-prefixes';
@import '../../bower_components/bootstrap/less/component-animations';
@import '../../bower_components/bootstrap/less/modals';
@import "../../bower_components/bootstrap/less/carousel";
@import './get-lesson';
@import './override';
@import './icons';
@import './fonts';

@lato-font: LatoWeb, Helvetica Neue, Helvetica, Arial, serif;
@lato-font-light: LatoWebLight, Helvetica Neue, Helvetica, Arial, serif;

* {
  box-sizing : border-box;
}

body {
  margin      : 0;
  padding     : 0;
  font-family : @lato-font;
}

html, body {
  &.popup-shown {
    overflow : hidden;
  }
}

:focus::-webkit-input-placeholder {
  color : transparent
}

:focus::-moz-placeholder {
  color : transparent
}

:focus:-moz-placeholder {
  color : transparent
}

:focus:-ms-input-placeholder {
  color : transparent
}

h1, h2, h3, h4 {
  margin : 0;
}

a {
  cursor : pointer;
}

@media only screen and (max-width : 1024px) {
  @import "./mobile";
  @import './popup-mobile';
}

@media only screen and (min-width : 1024px) {
  @import "./desktop";
  @import './popup-desktop';
  @import './get-lesson_desktop';
}
