.modal-dialog.modal-mobile {
  width  : 90%;
  margin : 0 auto;
  height : 100%;

  .modal-content {
    position : absolute;
    top      : 30px;
    left     : 0;
    right    : 0;
    bottom   : 125px;
  }
}

.popup {
  //  position      : fixed;
  //  top           : 40px;
  //  left          : 40px;
  //  right         : 40px;
  //  bottom        : 125px;
  background    : #fff;
  border-radius : 8px;
  //  display       : none;
  z-index       : 2;
  height        : 100%;
  overflow      : auto;

  &__title {
    margin-bottom : 60px;
    color         : #2b3c48;
    text-align    : center;
    font-size     : 42px;
  }

  &__close-icon {
    position    : absolute;
    top         : 10px;
    right       : 30px;
    font-size   : 74px;
    line-height : 74px;
    color       : #2b3c48;
    cursor      : pointer;

    &__label {
      display : none;
    }
  }

  &__content {
    width    : 100%;
    height   : 100%;
//    overflow : auto;
    padding  : 48px 40px 40px 40px;
  }

  &&_success {
    text-align : center;

    .get-lesson__success {
      background : none;
      display    : inline-block;
    }

    .get-lesson__success__title {
      font-size   : 42px;
      line-height : 42px;
    }
    .get-lesson__success__text {
      font-size   : 26px;
      line-height : 30px;
    }
  }
}
